.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-input {
  background-color: #FFF9FB;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  height: 50px;
  margin-top: 4%;
  text-align: center;
  width: 95%;
}

.create-sentence-button {
  background-color: #FF847C;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  height: 40px;
  margin-top: 3%;
  width: 100px;
}

.create-sentence-button:hover {
  cursor: pointer;
}

.giphy-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.giphy {
  height: 45%;
  width: 90%;
}

.previous-query {
  margin: 2%;
  padding: 0;
  text-align: center;
  width: 90%;
}

@media (min-width: 760px) {

  .user-input {
    font-size: 35px;
    height: 60px;
  }

  .create-sentence-button {
    font-size: 35px;
    height: 70px;
    width: 175px;
  }
}

@media (min-width: 760px) {

  .giphy-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .giphy {
    margin: 1%;
  }

}
